.comments {
  text-align: center;

  &__title {
    font-size: $fs-h2;
    line-height: 1.1;
    font-weight: $fw-bold;
    margin-bottom: $area-treble;
  }

  &__carousel {
    margin-bottom: $area-double;
  }

  @media (max-width: map-get($screens, md)) {
    &__carousel {
      margin-bottom: $area-quatro;
    }

    &__content {
      padding: $area-treble 0;
    }

    &__title {
      font-size: $fs-h3;
    }
  }

  @media (max-width: map-get($screens, sm)) { 
    &__title {
      font-size: $fs-h3 - 3;
    }
  }
}
