.simplify-works {
  color: $colo-white;
  background-color: $color-primary-red;
  background-image: url(../../assets/images/bg-simplify-section-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $area-large 0;
  }

  &__title {
    max-width: 547px;
    font-size: $fs-h1;
    font-weight: $fw-bold;
    line-height: 1.1;
  }

  @media (max-width: map-get($screens, md)) {
    &__content {
      flex-direction: column;
      text-align: center;
    }

    &__title {
      font-size: $fs-h2;
      font-weight: $fw-medium;
      margin-bottom: $area-base-large;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    background-image: url(../../assets/images/bg-simplify-section-mobile.svg);
    background-position: left;

    &__content {
      padding: $area-large + 20 0;
    }
  }
}
